<template>
  <div class="about container">
    <h1>About</h1>

    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Project</th>
          <td>MVP Match - Vending Machine</td>
        </tr>
        <tr>
          <th scope="row">Author</th>
          <td>Dipl.-Ing. Paul Krassnig</td>
        </tr>
        <tr>
          <th scope="row">Date</th>
          <td>February 2022</td>
        </tr>
        <tr>
          <th scope="row">Repo</th>
          <td><a target="_blank" href="https://gitlab.com/krapa11/mvp_match_vendingmachine">https://gitlab.com/krapa11/mvp_match_vendingmachine</a></td>
        </tr>
      </tbody>
    </table>

  </div>
</template>
