<template>
  <div class="dashboard">
    <div class="d-flex" style="align-items: flex-start;">
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Name</th>
            <td>{{this.$store.getters.username}}</td>
          </tr>
          <tr>
            <th scope="row">Role</th>
            <td>{{this.$store.getters.role}}</td>
          </tr>
          <tr>
            <th scope="row">Deposit</th>
            <td>{{this.$store.getters.deposit}}</td>
          </tr>
        </tbody>
      </table>

      <button
        class="btn btn-outline-secondary ms-5"
        @click="goToSettings"
      >
        Settings
      </button>
    </div>

    <template v-if="isBuyer">
      <UserDashboard />
    </template>
    <template v-if="isSeller">
      <SellerDashboard />
    </template>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import UserDashboard from '../components/UserDashboard.vue'
import SellerDashboard from '../components/SellerDashboard.vue'

@Component({
  components: {
    UserDashboard,
    SellerDashboard
  }
})
export default class Dashboard extends Vue {
  get isBuyer (): boolean {
    if (this.$store.getters.role === 'buyer') {
      return true
    } else {
      return false
    }
  }

  get isSeller (): boolean {
    if (this.$store.getters.role === 'seller') {
      return true
    } else {
      return false
    }
  }

  goToSettings () {
    this.$router.push('/settings')
  }
}
</script>
