<template>
  <div class="dashboard-wrapper container">
    <h1>Dashboard</h1>
    <p>Hello User {{this.$store.getters.username}}!</p>

    <router-view/>

    <div class="mt-5 mb-5">
      <button
        type="button"
        class="btn btn-outline-secondary"
        @click="onLogoutClick"
      >
        Logout
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import APIService, { IBuyProductsParam } from '../services/APIService'
import SessionService from '../services/SessionService'
import router from '../router'

@Component({
  components: {
  }
})
export default class DashboardWrapper extends Vue {
  created () {
    const token = SessionService.getAPIToken()
    APIService.dashboardOfUser(token)
      .then(resp => {
        console.log(resp)
        this.$store.commit('setUserId', resp.user._id)
        this.$store.commit('setUsername', resp.user.name)
        this.$store.commit('setRole', resp.user.role)
        this.$store.commit('setDeposit', resp.user.deposit)
      })
      .catch(reason => {
        console.error(reason)
      })
  }

  onLogoutClick (): void {
    const token = SessionService.getAPIToken()
    APIService.logoutUser(token)
      .then(resp => {
        console.log(resp)
        SessionService.removeAPIToken()
        router.push('/')
      })
      .catch(reason => {
        console.error(reason)
      })
  }
}
</script>
