<template>
  <div class="edit_user">

    <button
      type="button"
      class="btn btn-outline-secondary mb-4"
      @click="onGoBackClick()"
    >
      Go Back
    </button>

    <h2>Settings</h2>

    <form v-if="user != null" @submit="onSaveUser">
      <div class="form-group mt-2">
        <label
          for="editUser_name"
        >
          User Name
        </label>
        <input
          type="text"
          class="form-control" id="editUser_name"
          aria-describedby="emailHelp"
          placeholder="Name"
          v-model="username"
        >
      </div>

      <div class="mt-3">
        <h3>New Password</h3>

        <div class="form-group mt-2">
          <label
            for="editUser_password"
          >
            Password
          </label>
          <input
            type="password"
            class="form-control" id="editUser_password"
            aria-describedby="emailHelp"
            placeholder="Password"
            v-model="password"
          >
        </div>

        <div class="form-group mt-2">
          <label
            for="editUser_passwordRepeat"
          >
            Repeated Password
          </label>
          <input
            type="password"
            class="form-control" id="editUser_passwordRepeat"
            aria-describedby="emailHelp"
            placeholder="Repeated Password"
            v-model="repeatedPassword"
          >
        </div>
      </div>

      <input
        type="submit"
        class="btn btn-primary mt-4"
        value="Save User"
      >

      <div class="alert alert-success mt-2" role="alert"
        v-if="successMessage"
      >
        {{successMessage}}
      </div>
      <div class="alert alert-danger mt-2" role="alert"
        v-if="errorMessage"
      >
        {{errorMessage}}
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import router from '../router'
import APIService, { IEditUserParams } from '../services/APIService'
import SessionService from '../services/SessionService'

@Component({
  components: {
  }
})
export default class EditUser extends Vue {
  user: any = 'null'
  username = ''
  password = ''
  repeatedPassword = ''
  errorMessage = ''
  successMessage = ''

  created () {
    const token = SessionService.getAPIToken()
    APIService.getUser(token)
      .then(resp => {
        if (resp.user) {
          this.user = resp.user
          this.username = resp.user.name
        }
      })
      .catch(reason => {
        console.error(reason)
      })
  }

  onGoBackClick (): void {
    this.goBackToDashboard()
  }

  goBackToDashboard (): void {
    router.push('/dashboard')
  }

  onSaveUser (e: any) {
    const data: IEditUserParams = {}

    e.preventDefault()
    this.errorMessage = null
    this.successMessage = null

    try {
      this.inputIsValid()
    } catch (error) {
      this.errorMessage = error
      return
    }

    if (this.username) {
      data.name = this.username as string
    }

    if (this.password) {
      data.password = this.password as string
    }

    const token = SessionService.getAPIToken()
    APIService.editUser(token, data)
      .then(resp => {
        this.successMessage = 'User saved!'
        if (resp.user.name) {
          this.$store.commit('setUsername', resp.user.name)
        }
      })
      .catch(reason => {
        this.errorMessage = reason
      })
  }

  inputIsValid (): boolean {
    if (!this.username && !this.password && !this.repeatedPassword) {
      throw Error('Please fill out some input field')
    }

    if (!this.password && !this.repeatedPassword) {
      return true
    } else {
      // password or repeated password set
      if (this.password !== this.repeatedPassword) {
        throw Error('Passwords are not the same')
      }
    }

    return true
  }
}
</script>
