<template>
  <div class="editProduct">
    <div>
      <button
        type="button"
        class="btn btn-outline-secondary mb-4"
        @click="onGoBackClick()"
      >
        Go Back
      </button>

      <h2>Edit Product</h2>

      <form v-if="product != null" @submit="onSaveProduct">
        <div class="form-group mt-2">
          <label
            for="editProduct_productName"
          >
            Product Name
          </label>
          <input
            type="text"
            class="form-control" id="editProduct_productName"
            aria-describedby="emailHelp"
            placeholder="Name"
            v-model="productName"
          >
        </div>

        <div class="row">
          <div class="form-group mt-2 col-6">
            <label
              for="editProduct_cost"
            >
              Product Cost
            </label>
            <input
              type="number"
              class="form-control" id="editProduct_cost"
              aria-describedby="emailHelp"
              placeholder="105"
              min="0"
              step="5"
              v-model="productCost"
            >
          </div>

          <div class="form-group mt-2 col-6">
            <label
              for="editProduct_amountAvailable"
            >
              Product Amount
            </label>
            <input
              type="number"
              class="form-control" id="editProduct_amountAvailable"
              aria-describedby="emailHelp"
              placeholder="10"
              min="0"
              step="1"
              v-model="productAmountAvailable"
            >
          </div>
        </div>

        <input
          type="submit"
          class="btn btn-primary mt-4"
          value="Save Product"
        >

        <button
          type="button"
          class="btn btn-outline-danger mt-4 ms-2"
          @click="onDeleteProductClick()"
        >
          Delete Product
        </button>

        <div class="alert alert-danger mt-2" role="alert"
          v-if="errorMessage"
        >
          {{errorMessage}}
        </div>
      </form>

      <div
        class="d-flex justify-content-center mt-5"
        v-if="product == null"
      >
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>

    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import router from '../router'
import APIService, { IPutProductsParam } from '../services/APIService'
import SessionService from '../services/SessionService'

@Component({
  components: {
  }
})
export default class EditProduct extends Vue {
  product: any = null

  productName = ''
  productCost: number = null
  productAmountAvailable: number = null

  errorMessage: string = null

  created () {
    console.log(this.$route.params.id)
    const productId = this.$route.params.id

    if (productId) {
      this.loadProductDetails(productId)
    }
  }

  private loadProductDetails (productId: string): void {
    this.product = null

    APIService.loadProduct(productId)
      .then(resp => {
        console.log(resp)

        if (resp.product) {
          this.product = resp.product
          this.productName = this.product.name
          this.productCost = this.product.cost
          this.productAmountAvailable = this.product.amountAvailable
        }
      })
      .catch(reason => {
        console.error(reason)
      })
  }

  onGoBackClick (): void {
    this.goBackToDashboard()
  }

  goBackToDashboard (): void {
    router.push('/dashboard')
  }

  onSaveProduct (e: any): void {
    const data: IPutProductsParam = {}

    if (this.productName) {
      data.name = this.productName
    }
    if (this.productCost) {
      data.cost = Number(this.productCost) as number
    }
    if (this.productAmountAvailable) {
      data.amountAvailable = Number(this.productAmountAvailable) as number
    }

    const token = SessionService.getAPIToken()
    APIService.putProduct(token, this.product._id, data)
      .then(resp => {
        console.log(resp)

        this.loadProductDetails(this.product._id)
      })
      .catch(reason => {
        console.error(reason)
      })

    e.preventDefault()
  }

  onDeleteProductClick (): void {
    const accepted = confirm('Do you really want to delete this Product?')

    if (accepted) {
      const token = SessionService.getAPIToken()
      APIService.deleteProduct(token, this.product._id)
        .then(resp => {
          console.log(resp)

          this.goBackToDashboard()
        })
        .catch(reason => {
          console.error(reason)
        })
    }
  }
}
</script>
