<template>
  <div class="home container">
    <h1>MVP Match - Vending Machine</h1>

    <div class="row mt-5">
      <div class="col-6">
        <h2>Login</h2>

        <LoginForm
          @form-submit="onLoginFormSubmit"
          ref="loginForm"
        />

        <div
          class="alert alert-danger mt-2"
          role="alert"
          v-if="loginError"
        >
          {{loginError}}
        </div>
      </div>
      <div class="col-6">
        <h2>Register</h2>

        <RegisterForm
          @form-submit="onRegisterFormSubmit"
          ref="registerForm"
        />

        <div class="alert alert-success mt-2" role="alert"
          v-if="registerSuccessMsg"
        >
          {{registerSuccessMsg}}
        </div>

        <div class="alert alert-danger mt-2" role="alert"
          v-if="registerError"
        >
          {{registerError}}
        </div>
      </div>
    </div>

    <div class="modal" tabindex="-1" :style="{display: showLogoutAllModal ? 'block' : 'none'}">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Already logged in</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>There is already an active session using your account.</p>
          </div>
          <div class="modal-footer">
            <template v-if="!logoutAllLoadingShown">
              <button type="button" class="btn btn-secondary"  @click="onModalCloseClick">Close</button>
              <button type="button" class="btn btn-primary" @click="onLogoutAllClick">Logout All</button>
            </template>

            <div
              class="d-flex justify-content-center me-3"
              v-if="logoutAllLoadingShown"
            >
              <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal-backdrop fade show"
      v-if="showLogoutAllModal"
    ></div>
  </div>
</template>

<script lang="ts">
import {
  Component,
  Vue,
  Ref
} from 'vue-property-decorator'
import router from '../router'
import LoginForm from '@/components/LoginForm.vue'
import RegisterForm from '@/components/RegisterForm.vue'

import APIService from '../services/APIService'
import SessionService from '../services/SessionService'

@Component({
  components: {
    LoginForm,
    RegisterForm
  }
})
export default class Login extends Vue {
  loginError: string = null
  registerSuccessMsg: string = null
  registerError: string = null

  showLogoutAllModal = false
  tempToken: string = null
  logoutAllLoadingShown = false

  @Ref('loginForm') loginForm: LoginForm
  @Ref('registerForm') registerForm: RegisterForm

  onLoginFormSubmit (input: any) {
    console.log('login submit', input)

    this.loginError = null

    APIService.loginUser(input.name, input.password)
      .then(resp => {
        console.log(resp)

        if (resp.alreadyLoggedIn) {
          if (resp.token) {
            this.tempToken = resp.token
          }
          this.showLogoutAllModal = true
        } else {
          this.saveTokenAndGoToDashboard(resp.token)
        }
      })
      .catch(reason => {
        console.error(reason)

        if (reason.message) {
          this.loginError = reason.message
        } else {
          this.loginError = 'An Error occurred'
        }
      })
  }

  onRegisterFormSubmit (input: any) {
    console.log('register submit', input)

    this.registerError = null
    this.registerSuccessMsg = null

    APIService.registerUser(input.name, input.password, input.isSeller)
      .then(resp => {
        console.log(resp)
        this.registerSuccessMsg = 'Registered new User!'
        this.registerForm.clearForm()
      })
      .catch(reason => {
        console.error(reason)

        if (reason.message) {
          this.registerError = reason.message
        } else {
          this.registerError = 'An Error occurred'
        }
      })
  }

  onLogoutAllClick () {
    this.logoutAllLoadingShown = true

    APIService.logoutAllUsers(this.loginForm.name, this.loginForm.password)
      .then(resp => {
        console.log(resp)

        // wait a few milliseconds, to be sure new token is newer than "new login required"-date
        setTimeout(() => {
          // log in again, because token is older than "new login required"-date
          APIService.loginUser(this.loginForm.name, this.loginForm.password)
            .then(resp => {
              console.log(resp)
              this.saveTokenAndGoToDashboard(resp.token)
            })
            .catch(reason => {
              console.error(reason)
            })
        }, 1000)
      })
      .catch(reason => {
        console.error(reason)
      })
  }

  onModalCloseClick () {
    this.saveTokenAndGoToDashboard(this.tempToken)
  }

  private saveTokenAndGoToDashboard (token: string) {
    SessionService.setAPIToken(token)
    router.push({ path: 'dashboard' })
  }
}
</script>
