<template>
  <div class="not_found container">
    <h1 class="text-center">404 - Page not found</h1>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component({
  components: {
  }
})
export default class NotFoundPage extends Vue {}
</script>
