<template>
  <div class="deposit_form">
    <form @submit="submitClicked">
      <div class="mb-3">
        <div class="input-group mb-3">
          <span class="input-group-text" id="five_cents">
            5 cent coins
          </span>
          <input
            type="number" class="form-control"
            aria-describedby="five_cents"
            v-model="fiveCentCoins"
          >
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text" id="ten_cents">
            10 cent coins
          </span>
          <input
            type="number" class="form-control"
            aria-describedby="ten_cents"
            v-model="tenCentCoins"
          >
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text" id="twenty_cents">
            20 cent coins
          </span>
          <input
            type="number" class="form-control"
            aria-describedby="twenty_cents"
            v-model="twentyCentCoins"
          >
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text" id="fifty_cents">
            50 cent coins
          </span>
          <input
            type="number" class="form-control"
            aria-describedby="fifty_cents"
            v-model="fiftyCentCoins"
          >
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text" id="hundert_cents">
            100 cent coins
          </span>
          <input
            type="number" class="form-control"
            aria-describedby="hundert_cents"
            v-model="hundertCentCoins"
          >
        </div>
      </div>

      <input
        type="submit"
        class="btn btn-primary"
        value="Deposit Coins"
      >

      <button
        type="button"
        class="btn btn-default ms-2"
        @click="resetDepositClicked"
      >
        Reset Deposit
      </button>
    </form>
  </div>
</template>

<script lang="ts">
import {
  Component,
  Vue,
  Emit
} from 'vue-property-decorator'

@Component
export default class DepositForm extends Vue {
  fiveCentCoins = 0;
  tenCentCoins = 0;
  twentyCentCoins = 0;
  fiftyCentCoins = 0;
  hundertCentCoins = 0;

  private submitClicked (e: any): void {
    try {
      this.onFormSubmit(
        Number(this.fiveCentCoins) as number,
        Number(this.tenCentCoins) as number,
        Number(this.twentyCentCoins) as number,
        Number(this.fiftyCentCoins) as number,
        Number(this.hundertCentCoins) as number
      )
    } catch (error) {
      console.error(error)
    }

    e.preventDefault()
  }

  @Emit('form-submit')
  onFormSubmit (
    fiveCentCoins: number,
    tenCentCoins: number,
    twentyCentCoins: number,
    fiftyCentCoins: number,
    hundertCentCoins: number
  ): any {
    return {
      fiveCentCoins: fiveCentCoins,
      tenCentCoins: tenCentCoins,
      twentyCentCoins: twentyCentCoins,
      fiftyCentCoins: fiftyCentCoins,
      hundertCentCoins: hundertCentCoins
    }
  }

  private resetDepositClicked (): void {
    this.onResetDeposit()
  }

  @Emit('reset-deposit')
  onResetDeposit (): void {
    // emit function
  }

  clearForm (): void {
    this.fiveCentCoins = 0
    this.tenCentCoins = 0
    this.twentyCentCoins = 0
    this.fiftyCentCoins = 0
    this.hundertCentCoins = 0
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
