<template>
  <div class="login_form">
    <form @submit="submitClicked">
      <div class="mb-3">
        <label
          for="loginName"
          class="form-label"
        >
          Name
        </label>
        <input
          type="text"
          autocomplete="username"
          class="form-control" id="loginName"
          :class="{'is-invalid': nameHasError}"
          aria-describedby="emailHelp"
          v-model="name"
        >
      </div>

      <div class="mb-3">
        <label
          for="loginPassword"
          class="form-label"
        >
          Password
        </label>
        <input
          autocomplete="current-password"
          type="password"
          :class="{'is-invalid': passwordHasError}"
          class="form-control" id="loginPassword"
          aria-describedby="passwordHelp"
          v-model="password"
        >
      </div>

      <input
        type="submit"
        class="btn btn-primary"
        value="Login"
      />
    </form>
  </div>
</template>

<script lang="ts">
import {
  Component,
  Vue,
  Emit
} from 'vue-property-decorator'

@Component
export default class LoginForm extends Vue {
  name = '';
  nameHasError: boolean|null = null;
  password = '';
  passwordHasError: boolean|null = false;
  repeatedPassword = '';

  @Emit('form-submit')
  onFormSubmit (name: string, password: string): any {
    return {
      name: name,
      password: password
    }
  }

  private submitClicked (e: any): void {
    this.nameHasError = false
    this.passwordHasError = false

    try {
      this.validateName()
      this.validatePassword()

      this.onFormSubmit(this.name, this.password)
    } catch (error) {
      console.error(error)
    }

    e.preventDefault()
  }

  protected validateName (): any {
    if (this.name == null || this.name === '') {
      this.nameHasError = true
      throw Error('invalid')
    }
  }

  protected validatePassword (): any {
    if (this.password == null || this.password === '') {
      this.passwordHasError = true
      throw Error('invalid')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
