<template>
  <div class="product_list">
    <ul class="list-group">
      <li
        class="list-group-item"
        v-for="product in products" :key="product._id"
      >
        <div class="row">
          <div class="col-6">
            <span style="font-weight: bold">{{product.product.name}}</span> for <span>{{product.product.cost}} cents</span><br/>
            <template v-if="product.product.amountAvailable > 0">
              <span>{{product.product.amountAvailable}} available</span>
            </template>
            <template v-else>
              <span><i>sold out</i></span>
            </template>
          </div>

          <div class="col-6">
            <div class="input-group mb-3">
              <span class="input-group-text" :id="'quantity_' + product.product._id">
                quantity
              </span>
              <input
                type="number" class="form-control"
                v-model="product.quantity"
                @change="onQuantityChange"
                min="0"
              >
            </div>
          </div>
        </div>
      </li>
    </ul>

    <div
      class="no-products text-center"
      style="color: gray;"
      v-if="products.length === 0"
    >
      <span>No products saved</span>
    </div>

    <div class="mt-2">
      <div>
        <span>Total:</span> <span>{{totalInDollars}} cents</span>
      </div>
    </div>

    <div class="mt-2" v-if="spent != null && change.length > 0">
      <h3>Last Transaction</h3>
      <div>
        <b>Spent:</b> <span>{{spent}} cents</span>
      </div>
      <div>
        <div><b>Change:</b></div>
        <div v-for="changeEl in change" :key="changeEl">
          <span>{{changeEl}}</span>
        </div>
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary mt-3"
      @click="formSubmitClicked"
    >
      Buy
    </button>
  </div>
</template>

<script lang="ts">
import {
  Component,
  Vue,
  Prop,
  Emit
} from 'vue-property-decorator'
import APIService from '../services/APIService'
import { IProduct } from '../models/Product'

export interface IProductsArrayItem {
  product: IProduct;
  quantity: number;
}

@Component
export default class ProductList extends Vue {
  @Prop() spent: number;
  @Prop() change: string[];

  products: IProductsArrayItem[] = [];
  totalInDollars = 0;

  created () {
    this.loadProducts()
  }

  private loadProducts () {
    APIService.loadProducts()
      .then(resp => {
        console.log(resp)
        this.products = []

        if (resp.products) {
          resp.products.forEach(product => {
            this.products.push({
              product: product,
              quantity: 0
            })
          })
        }
      })
      .catch(reason => {
        console.error(reason)
      })
  }

  onQuantityChange () {
    this.totalInDollars = this.calculateTotal(this.products)
  }

  private calculateTotal (products: IProductsArrayItem[]) {
    let totalInDollars = 0
    products.forEach(item => {
      totalInDollars += item.quantity * item.product.cost
    })
    return totalInDollars
  }

  formSubmitClicked () {
    const totalInDollars = this.calculateTotal(this.products)
    if (totalInDollars > 0) {
      const products = this.products.map(el => {
        return {
          product: el.product,
          quantity: Number(el.quantity) as number
        }
      })
      this.onFormSubmit(products)
    }
  }

  @Emit('form-submit')
  onFormSubmit (products: IProductsArrayItem[]): IProductsArrayItem[] {
    return products
  }

  clearForm () {
    this.totalInDollars = 0

    this.loadProducts()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
