<template>
  <div class="login_form">
    <form @submit="submitClicked">
      <div class="mb-3">
        <label
          for="registerName"
          class="form-label"
        >
          Name
        </label>
        <input
          type="text"
          autocomplete="username"
          class="form-control" id="registerName"
          :class="{'is-invalid': nameHasError}"
          aria-describedby="emailHelp"
          v-model="name"
        >
      </div>

      <div class="mb-3">
        <label
          for="registerPassword"
          class="form-label"
        >
          Password
        </label>
        <input
          type="password"
          autocomplete="new-password"
          class="form-control" id="registerPassword"
          :class="{'is-invalid': passwordHasError}"
          aria-describedby="passwordHelp"
          v-model="password"
        >
      </div>

      <div class="mb-3">
        <label
          for="registerPasswordRepeat"
          class="form-label"
        >
          Password Repeat
        </label>
        <input
          type="password"
          autocomplete="new-password"
          class="form-control" id="registerPasswordRepeat"
          :class="{'is-invalid': repeatedPasswordHasError}"
          aria-describedby="passwordHelp"
          v-model="repeatedPassword"
        >
      </div>

      <div class="mb-3 form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="isSeller"
          v-model="isSeller"
        >
        <label class="form-check-label" for="isSeller">
          I am a seller
        </label>
      </div>

      <input
        type="submit"
        class="btn btn-primary"
        value="Register"
      >
    </form>
  </div>
</template>

<script lang="ts">
import {
  Component,
  Vue,
  Emit
} from 'vue-property-decorator'

@Component
export default class LoginForm extends Vue {
  name = '';
  nameHasError: boolean|null = null;
  password = '';
  passwordHasError: boolean|null = false;
  repeatedPassword = '';
  repeatedPasswordHasError: boolean|null = null;
  isSeller = false;

  @Emit('form-submit')
  onFormSubmit (name: string, password: string, isSeller: boolean): any {
    return {
      name: name,
      password: password,
      isSeller: isSeller
    }
  }

  private submitClicked (e: any): void {
    this.nameHasError = false
    this.passwordHasError = false
    this.repeatedPasswordHasError = false

    try {
      this.validateName()
      this.validatePassword()
      this.validateRepeatedPassword()

      this.onFormSubmit(this.name, this.password, this.isSeller)
    } catch (error) {
      console.error(error)
    }

    e.preventDefault()
  }

  protected validateName (): any {
    if (this.name == null || this.name === '') {
      this.nameHasError = true
      throw Error('invalid')
    }
  }

  protected validatePassword (): any {
    if (this.password == null || this.password === '') {
      this.passwordHasError = true
      throw Error('invalid')
    }
  }

  protected validateRepeatedPassword (): any {
    if (this.repeatedPassword == null || this.repeatedPassword === '') {
      this.repeatedPasswordHasError = true
      throw Error('invalid')
    }

    if (this.password !== this.repeatedPassword) {
      this.repeatedPasswordHasError = true
      throw Error('invalid')
    }
  }

  clearForm (): void {
    this.nameHasError = false
    this.name = ''
    this.passwordHasError = false
    this.password = ''
    this.repeatedPasswordHasError = false
    this.repeatedPassword = ''
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
