<template>
  <div class="seller_dashboard">

    <div class="mt-5">
      <SellerProductList
        ref="sellerProductList"
      />
    </div>

    <div class="mt-5">
      <SellerAddProduct
        @added-product="onAddedProduct"
        ref="sellerAddProduct"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Ref, Vue } from 'vue-property-decorator'
import SellerProductList from './SellerProductList.vue'
import SellerAddProduct from './SellerAddProduct.vue'

@Component({
  components: {
    SellerProductList,
    SellerAddProduct
  }
})
export default class SellerDashboard extends Vue {
  @Ref('sellerProductList') sellerProductList: SellerProductList
  @Ref('sellerAddProduct') sellerAddProduct: SellerAddProduct

  onAddedProduct () {
    this.sellerProductList.loadProducts()
    this.sellerAddProduct.clearForm()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
