<template>
  <div class="seller_add_product">
    <h2>Add Product</h2>

    <form @submit="onAddProduct">
      <div class="form-group mt-2">
        <label
          for="addProduct_productName"
        >
          Product Name
        </label>
        <input
          type="text"
          class="form-control" id="addProduct_productName"
          aria-describedby="emailHelp"
          placeholder="Name"
          v-model="productName"
        >
      </div>

      <div class="row">
        <div class="form-group mt-2 col-6">
          <label
            for="addProduct_cost"
          >
            Product Cost
          </label>
          <input
            type="number"
            class="form-control" id="addProduct_cost"
            aria-describedby="emailHelp"
            placeholder="105"
            min="0"
            step="5"
            v-model="productCost"
          >
        </div>

        <div class="form-group mt-2 col-6">
          <label
            for="addProduct_amountAvailable"
          >
            Product Amount
          </label>
          <input
            type="number"
            class="form-control" id="addProduct_amountAvailable"
            aria-describedby="emailHelp"
            placeholder="10"
            min="0"
            step="1"
            v-model="productAmountAvailable"
          >
        </div>
      </div>

      <input
        type="submit"
        class="btn btn-primary mt-4"
        value="Add Product"
      >

      <div class="alert alert-danger mt-2" role="alert"
        v-if="errorMessage"
      >
        {{errorMessage}}
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import { Component, Emit, Vue } from 'vue-property-decorator'
import APIService from '../services/APIService'
import SessionService from '../services/SessionService'

@Component({
  components: {
  }
})
export default class SellerAddProduct extends Vue {
  productName = ''
  productCost: number|null = null
  productAmountAvailable: number|null = null

  errorMessage: string|null = null

  onAddProduct (e: any) {
    try {
      this.validateFormInput()

      const data = {
        amountAvailable: Number(this.productAmountAvailable) as number,
        cost: Number(this.productCost) as number,
        name: this.productName
      }

      const token = SessionService.getAPIToken()
      APIService.addProduct(token, data)
        .then(resp => {
          console.log(resp)

          this.addedProduct()
        })
        .catch(reason => {
          console.error(reason)
        })
    } catch (error) {
      console.error(error)
    }

    e.preventDefault()
  }

  validateFormInput () {
    if (this.productName == null || this.productName === '' || (typeof this.productName !== 'string')) {
      throw Error('Name is required')
    }

    if (this.productCost == null || this.productCost === 0) {
      throw Error('Cost is required')
    }

    if (this.productAmountAvailable == null) {
      throw Error('Amount Available is required')
    }
  }

  clearForm () {
    this.productName = ''
    this.productCost = null
    this.productAmountAvailable = null

    this.errorMessage = null
  }

  @Emit('added-product')
  addedProduct () {
    // emit
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
