<template>
  <div class="seller_productlist">
    <h2>All Products</h2>

    <ul class="list-group"
      v-if="products != null && products.length > 0"
    >
      <li
        class="list-group-item"
        v-for="product in products" :key="product._id"
      >
        <div class="row">
          <div class="col-8">
            <span style="font-weight: bold">{{product.product.name}}</span> for <span>{{product.product.cost}} cents</span><br/>
            <template v-if="product.product.amountAvailable > 0">
              <span>{{product.product.amountAvailable}} available</span>
            </template>
            <template v-else>
              <span><i>sold out</i></span>
            </template>
          </div>

          <div class="col-4 text-end">
            <button
              type="button"
              class="btn btn-outline-secondary"
              v-if="productIsOwnedByMe(product)"
              @click="onEditProductClick(product)"
            >
              Edit
            </button>

            <div
              style="color: gray"
              v-if="productIsOwnedByMe(product) === false"
            >
              Product is not <br/>owned by you
            </div>
          </div>
        </div>
      </li>
    </ul>

    <div class="text-center mt-2" style="color: gray"
      v-if="products != null && products.length === 0"
    >
      No Products saved
    </div>

  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import APIService from '../services/APIService'
import { IProduct } from '../models/Product'
import router from '../router'

@Component
export default class SellerProductList extends Vue {
  products: {
    product: IProduct;
    quantity: number;
  }[] = null

  created () {
    this.loadProducts()
  }

  loadProducts () {
    APIService.loadProducts()
      .then(resp => {
        this.products = []

        if (resp.products) {
          resp.products.forEach(product => {
            this.products.push({
              product: product,
              quantity: 0
            })
          })
        }
      })
      .catch(reason => {
        console.error(reason)
      })
  }

  productIsOwnedByMe (product: any): boolean {
    const userId = this.$store.getters.userId
    if (product.product.userId === userId) {
      return true
    }

    return false
  }

  onEditProductClick (product: any): void {
    console.log('onEditProductClick')
    router.push('/edit-product/' + product.product._id)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
