<template>
  <div class="user_dashboard">
    <div class="row mt-5">
      <div class="col-6">
        <h2>Deposit Coins</h2>
        <DepositForm
          @form-submit="onDepositFormSubmit"
          @reset-deposit="onResetDepositClick"
          ref="depositForm"
        />
      </div>

      <div class="col-6">
        <h2>Buy Products</h2>
        <ProductList
          @form-submit="onProductsBuySubmit"
          :spent="depositSpent"
          :change="depositChange"
          ref="productList"
        />

        <div class="alert alert-danger mt-2" role="alert"
          v-if="buyProductsErrorStr"
        >
          {{buyProductsErrorStr}}
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Ref, Vue } from 'vue-property-decorator'
import DepositForm from '../components/DepositForm.vue'
import ProductList, { IProductsArrayItem } from '../components/ProductList.vue'
import APIService, { IBuyProductsParam } from '../services/APIService'
import SessionService from '../services/SessionService'

@Component({
  components: {
    DepositForm,
    ProductList
  }
})
export default class UserDashboard extends Vue {
  @Ref('depositForm') readonly depositForm!: DepositForm
  @Ref('productList') readonly productList!: ProductList

  depositSpent = 0;
  depositChange: string[] = [];
  buyProductsErrorStr: string = null;

  onDepositFormSubmit (coins: any): void {
    console.log(coins)
    console.log('depositForm', this.depositForm)

    const token = SessionService.getAPIToken()
    APIService.depositCoins(token, coins)
      .then(resp => {
        console.log(resp)
        if (resp.deposit) {
          this.$store.commit('setDeposit', resp.deposit)
        }
        // empty form
        this.depositForm.clearForm()
      })
      .catch(reason => {
        console.error(reason)
      })
  }

  onResetDepositClick (): void {
    console.log('reset deposit')

    const token = SessionService.getAPIToken()
    APIService.resetDeposit(token)
      .then(resp => {
        console.log(resp)
        if (resp.success) {
          this.$store.commit('setDeposit', 0)
        }
      })
      .catch(reason => {
        console.error(reason)
      })
  }

  onProductsBuySubmit (products: IProductsArrayItem[]): void {
    console.log(products)
    const productsAndQuantity: any = { products: [] }
    products.forEach(element => {
      productsAndQuantity.products.push({
        id: element.product._id,
        quantity: element.quantity
      })
    })

    this.buyProductsErrorStr = null

    const token = SessionService.getAPIToken()
    APIService.buyProducts(token, productsAndQuantity)
      .then(resp => {
        console.log(resp)

        this.productList.clearForm()

        if (resp.deposit?.now != null) {
          this.$store.commit('setDeposit', resp.deposit.now)
        }

        this.depositSpent = resp.spent

        const change: string[] = []
        Object.keys(resp.change).forEach(key => {
          let keyString = ''
          if (key === 'five') {
            keyString = '5 Cents'
          }
          if (key === 'ten') {
            keyString = '10 Cents'
          }
          if (key === 'twenty') {
            keyString = '20 Cents'
          }
          if (key === 'fifty') {
            keyString = '50 Cents'
          }
          if (key === 'hundert') {
            keyString = '100 Cents'
          }
          change.push((resp as any).change[key] + 'x ' + keyString)
        })
        this.depositChange = change
      })
      .catch(reason => {
        console.error(reason)
        if (reason.message) {
          this.buyProductsErrorStr = reason.message
        } else {
          this.buyProductsErrorStr = 'An Error occurred'
        }
      })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
