<template>
  <div id="app">
    <div id="nav-wrapper">
      <p id="version-string">Version: {{version}}</p>

      <div id="nav">
        <router-link to="/">Home</router-link> |
        <router-link to="/about">About</router-link>
      </div>
    </div>
    <router-view/>
  </div>
</template>

<script lang="ts">
import {
  Component,
  Vue
} from 'vue-property-decorator'
import { version } from './config'

@Component({
  components: {
  }
})
export default class App extends Vue {
  version: string = null

  created () {
    this.version = version
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

#nav-wrapper {
  padding: 30px;
  padding-top: 10px;
}

#nav {
  text-align: center;
}

#version-string {
  text-align: right;
  margin: 0;
  color: gray;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
